README.md
[{"id":"ae0082ac.51ff8","type":"function","z":"20afb371.c7f144","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"20afb371.c7f144","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"20afb371.c7f144","name":"cpu status","active":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"20afb371.c7f144","name":"safe","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"20afb371.c7f144","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]}]
