README.md
[{"id":"a6b7e27a.03c8e","type":"function","z":"9532fe9c.e77c2","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["b1f75243.517e18"]]},{"id":"b1f75243.517e18","type":"switch","z":"9532fe9c.e77c2","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":470,"y":180,"wires":[["b5c4899a.684008"],["61c3c195.e3ef78"]]},{"id":"4b12cc24.1b19e4","type":"debug","z":"9532fe9c.e77c2","name":"cpu status","active":true,"complete":"false","x":810,"y":180,"wires":[]},{"id":"b5c4899a.684008","type":"template","z":"9532fe9c.e77c2","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":630,"y":160,"wires":[["4b12cc24.1b19e4"]]},{"id":"61c3c195.e3ef78","type":"template","z":"9532fe9c.e77c2","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":640,"y":200,"wires":[["4b12cc24.1b19e4"]]}]
